@font-face { font-family: 'AvenirNext-Bold'; src: url(../fonts/AvenirNext-Bold.otf); }
@font-face { font-family: 'AvenirNext-Regular'; src: url(../fonts/AvenirNext-Regular.otf); }
body { font-family: 'AvenirNext-Regular'; }

.header { padding: 15px 0 1px; background: #fff; transition: all 1s ease; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; }
.header a.logo img { transition: all 1s ease; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; }
.header nav { position: relative; margin: 0 auto; padding-top: 53px; transition: all 1s ease; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; }
.header #flexmenu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.header #flexmenu li { border: 0; list-style: none; line-height: 1; display: inline-block; position: relative; text-transform: uppercase; -webkit-transition: all ease-in-out .3s; transition: all ease-in-out .3s; }
.header #flexmenu li a { border: 0; list-style: none; line-height: 1; display: inline-block; position: relative; text-transform: uppercase; -webkit-transition: all ease-in-out .3s; transition: all ease-in-out .3s; }
.header #flexmenu li:hover > ul { left: auto; }
.header #flexmenu li:hover > ul > li { height: 35px; }
.header #flexmenu li.active a { border-bottom: 1px solid #fff; }
.header #flexmenu ul li a { padding: 10px 15px; font-size: 13px; text-decoration: none; text-transform: uppercase; color: #111111; position: relative; }
.header #flexmenu ul li a:after { height: 12px; width: 1px; content: ""; position: absolute; right: 0; top: 11px; background: #111111; }
.header #flexmenu ul li a:hover { color: #a5c6e4; }
.header #flexmenu ul li:last-child a:after { display: none; }
.header #flexmenu ul li.has-sub ul li.has-sub ul li:hover { background: #751CEC; }
.header #flexmenu ul ul { position: absolute; left: -9999px; padding-left: 0; text-align: left; }
.header #flexmenu ul ul li.has-sub > a:after { position: absolute; top: 16px; right: 11px; width: 8px; height: 2px; display: block; background: #FFF; content: ''; }
.header #flexmenu ul ul li.has-sub > a:before { position: absolute; top: 13px; right: 14px; display: block; width: 2px; height: 8px; background: #FFF; content: ''; -webkit-transition: all .3s ease; transition: all .3s ease; }
.header #flexmenu ul ul li.has-sub:hover { background: #000; }
.header #flexmenu ul ul > li.has-sub:hover > a:before { top: 17px; height: 0; }
.header #flexmenu ul ul li { height: 0; background: rgba(0, 0, 0, 0.5); -webkit-transition: all .25s ease; transition: all .25s ease; }
.header #flexmenu ul ul li a { padding: 11px 15px; width: 170px; font-size: 12px; text-decoration: none; color: #fff; font-weight: 400; }
.header #flexmenu ul ul li a:after { display: none; }
.header #flexmenu ul ul li:hover { background: black; }
.header #flexmenu ul ul li:hover a { color: #fff; }
.header #flexmenu ul ul li:after { display: none; }
.header #flexmenu ul ul ul { margin-left: 100%; top: 0; }
.header #flexmenu > ul > li.has-sub > a:before { position: absolute; top: 19px; right: 14px; display: block; width: 2px; height: 8px; background: #ddd; -webkit-transition: all .25s ease; transition: all .25s ease; }
.header #flexmenu > ul > li.has-sub:hover > a:before { top: 23px; height: 0; }
.header #main-menu { -ms-flex-item-align: end; align-self: flex-end; padding-left: 0; width: 100%; text-align: center; margin-bottom: 0; }
.header .sub-menu { z-index: 1234; }
.header #main { color: #fff; height: 100vh; width: 100vw; background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/e-aupyxbjm-alice-moore.jpg) top center no-repeat; background-size: cover; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.header .note { width: 80vw; max-width: 320px; max-height: 200px; text-align: center; background: #F14F80; font-size: 1vw; padding: 10px; background-clip: padding-box; }
.header .note h2 { font-weight: 300; font-size: 1.5em; margin: 10px 0 0; }
.header .note p { margin: 5px; }
.header .action_area { padding-top: 53px; transition: all 1s ease; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; }
.header .action_area .cart { text-align: right; margin-bottom: 5px; }
.header .action_area .cart a { color: #111111; text-decoration: none; }
.header .action_area .cart a span { border-right: 1px solid #111111; padding-right: 8px; font-size: 14px; display: inline-block; line-height: 9px;    vertical-align: bottom; margin-bottom: 5px; }
.header .action_area .cart a strong { background: url(../images/cart.png); background-repeat: no-repeat; background-position: center bottom; height: 26px; display: inline-block; width: 33px; text-align: center; vertical-align: bottom; padding-top: 7px; font-size: 12px;  background-size: 23px;}
.header .action_area .cart a:hover { color: #545454; }
.header .action_area .cart .btn { font-family: AvenirNext-Bold; color: #fff; background: #a5c6e4; border-radius: 0; text-transform: uppercase; font-size: 11.5px; margin-right: -4px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; -moz-transition: all 0.2s ease; margin-right: 15px; margin-bottom: -5px;}
.header .action_area .cart .btn:hover { background: #000; color: #fff; }
.header .action_area .shop .btn { font-family: AvenirNext-Bold; color: #fff; background: #a5c6e4; border-radius: 0; text-transform: uppercase; font-size: 11.5px; margin-right: -4px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; -moz-transition: all 0.2s ease; }
.header .action_area .shop .btn:first-child { background: #a5c6e4; }
.header .action_area .shop .btn:hover { background: #000; }

.fixHeader .header { position: fixed; top: 0; left: 0; width: 100%; z-index: 9; background: #a5c6e4; padding-top: 7px; }
.fixHeader .header nav { padding-top: 17px; }
.fixHeader .header .action_area { padding-top: 18px; }
.fixHeader .header .logo img { width: 90px;    margin-bottom: 5px; }
.fixHeader .header #flexmenu ul li a { color: #fff; }
.fixHeader .header #flexmenu ul li a:after{background: #fff;}
.fixHeader .header #flexmenu ul li a:hover { color: #f7acb8; }
.fixHeader .header .action_area .cart .btn { background: #f7acb8;  margin-top: -3px; }
.fixHeader .header .action_area .cart .btn:hover { background: #000; }
.carousel-inner, .carousel-item, .carousel-item img{
	height: 100%;
}
.carousel-item img{
	object-fit: cover;
}
.main_banner .cont { width: 1140px; margin: 0 auto; position: absolute; left: 0; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); z-index: 9; }
.main_banner .caption { width: 175px; }
.main_banner .caption h1 { font-weight: bold; line-height: 50px; }
.main_banner .caption .btn { color: #fff; background: #f7acb8; border-radius: 0; text-transform: uppercase; font-size: 13px; padding: 6px 42px; font-weight: bold; }
.main_banner .caption .btn:hover { background: #fb7187; }

.welcome { padding: 85px 0 70px; background: url(../images/welcome_bg.jpg); text-align: center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center; }
.welcome p { font-size: 15px; color: #fff; }
.welcome p strong { font-family: AvenirNext-Bold; }
.welcome .btn { background-color: transparent; border: 1px solid #fff; color: #fff; border-radius: 0; text-transform: uppercase; width: 154px; margin-top: 15px; font-size: 14px; }
.welcome .btn:hover { background-color: #f7acb8; border: 1px solid #f7acb8; }
.welcome span { position: absolute; width: 53px; height: 5px; background: #cbe1a7; left: 0; right: 0; margin: 0 auto; display: block; top: -35px; }
.welcome .author { position: relative; }
.welcome .author:after { position: absolute; right: -15px; top: 15px; width: 100%; height: 100%; background: #cbe1a7; content: ""; z-index: -1; }

.product { margin-top: 70px; }
.product .product_box .img_box { position: relative; overflow: hidden; }
.product .product_box .img_box .overlay { position: absolute; top: -400px; left: 0; width: 100%; height: 100%; background: rgba(165, 198, 228, 0.73); transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; }
.product .product_box .img_box .overlay a.btn { background: #fff; border-radius: 0; position: absolute; left: 0; right: 0; width: 150px; margin: 0 auto; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); color: #000; }
.product .product_box .img_box .overlay a.btn:hover { background: #f7acb8; color: #fff; }
.product .product_box h3 { text-align: center; font-family: AvenirNext-Bold; font-size: 15px; margin-top: 25px; margin-bottom: 3px; }
.product .product_box p { text-align: center; font-size: 14px; }
.product .product_box:hover .overlay { top: 0; }
.product .text_box h1 { font-size: 45px; font-weight: bold; margin-top: 20px; text-align: left; }
.product .text_box h1 span { display: block; }

.heading { text-align: center; margin-bottom: 80px; }
.heading h1 { text-transform: uppercase; position: relative; font-size: 30px; }
.heading h1:after { content: ""; position: absolute; left: 0; right: 0; margin: 0 auto; height: 3px; width: 49px; background: #000; bottom: -10px; }

.recipe { margin-top: 70px; }
.recipe .thumbnail_box a { color: #000; text-decoration: none; }
.recipe .thumbnail_box h3 { text-align: left; font-family: AvenirNext-Bold; font-size: 14px; margin-top: 6px; margin-bottom: 1px; float: left; }
.recipe .thumbnail_box p { text-align: left; font-size: 11px; line-height: 13px; color: #585858; float: left; width: 105px; }
.recipe .thumbnail_box .inner { position: relative; overflow: hidden; }
.recipe .thumbnail_box .inner .mask { position: absolute; top: -400px; left: 0; width: 100%; height: 100%; background: rgba(165, 198, 228, 0.73); transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.recipe .thumbnail_box .inner .mask .btn { background-color: transparent; border: 1px solid #fff; color: #fff; border-radius: 0; text-transform: uppercase; width: 145px; margin: 0 auto; font-size: 13px; padding: 8px; margin-bottom: 15px; }
.recipe .thumbnail_box .inner .mask .btn:hover { background-color: #fff; color: #000; }
.recipe .thumbnail_box .inner .mask p { background: #fff; margin-bottom: 0; padding: 14px 0; font-size: 13px; float: none; width: 100%; text-align: center; }
.recipe .thumbnail_box:hover .mask { top: 0; }
.recipe .thumbnail_box .video { float: right; width: auto; padding: 5px; margin-bottom: 0; margin-top: -16px; height: 40px; line-height: 27px; font-size: 11px; }
.recipe .thumbnail_box .video i { font-size: 9px; }
.recipe .big_img:first-child { display: block; }
.recipe .big_img { position: relative; display: none; }
.recipe .big_img img { height: 465px; -o-object-fit: cover; object-fit: cover; }
.recipe .big_img a { color: #000; text-decoration: none; }
.recipe .big_img .capi { position: absolute; left: 0; right: 0; margin: 0 auto; width: 200px; padding: 10px 0; text-align: center; background: #fff; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); }
.recipe .big_img .capi h4 { font-size: 22px; }
.recipe .big_img .capi p { font-size: 14px; margin-bottom: 0; }
.recipe a.btn { display: block; margin: 30px auto; border: 1px solid #000; color: #000; border-radius: 0; width: 160px; font-size: 14px; padding: 10px; }
.recipe a.btn:hover { color: #fff; background: #f7acb8; border-color: #f37c8f; }

.bottom_colorful { margin-top: 80px; background: url(../images/bg.jpg); background-position: center; background-repeat: no-repeat; padding: 60px 0 40px; background-size: cover; height: 340px; text-align: center;}
.bottom_colorful .col-md-3.col-6 img { display: block; margin: 0 auto; margin-bottom: 20px; }
.bottom_colorful .col-md-3.col-6:after { content: ""; position: absolute; top: 0; right: 0; width: 1px; height: 89px; background: #000; }
.bottom_colorful .col-md-3.col-6:last-child:after { display: none; }
.bottom_colorful a.btn { display: block; margin: 30px auto; border: 1px solid #000; color: #000; border-radius: 0; width: 160px; font-size: 14px; padding: 10px; }
.bottom_colorful a.btn:hover { color: #fff; background: #f7acb8; border-color: #f37c8f; }
.modal-dialog {
    max-width: 700px;
}
.modal-body p {
    display: inline-block;
    margin-bottom: 4px;
}
.modal-backdrop.show {
    opacity: .9;
    background: #a5c6e4;
}
.social_society { background: url(../images/social_bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; padding: 100px 0; }
.popup-gallery { margin-bottom: 30px; }
.popup-gallery [class*="col-"] { margin-bottom: 30px; }

.newsletter { margin-top: 1px; background: url(../images/newsleter.jpg); background-position: center; background-repeat: no-repeat; padding: 47px 0; background-size: cover; height: 275px; text-align: center; margin-bottom: 100px; color: #fff; }
.newsletter h3 { font: 25px; }
.newsletter p { font-weight: bold; }
.newsletter .form-control { border-radius: 0; }
.newsletter .form-control:placeholder { color: #000; font-style: italic; }
.newsletter .btn { background: #000; border-radius: 0; color: #fff; margin-top: 15px; padding: 11px 50px; font-size: 14px; }
.newsletter .btn:hover { background: #f7acb8; }

.no-js #loader { display: none; }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url(../images/loader-64x/Preloader_7.gif) center no-repeat #fff; }

/*-----------------------------*/
.banner_share { padding-top: 20px; }
.banner_share ul.social { margin-top: 0; padding-left: 0; }
.banner_share ul.social li { display: inline-block; }
.banner_share ul.social li a { background: #000; width: 28px; height: 28px; line-height: 28px; text-align: center; border-radius: 50%; display: block; }
.banner_share ul.social li a i { color: #fff; }
.banner_share ul.social li a:hover { background: #f7acb8; }

.sweets { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f7f9+0,ffffff+22 */ background: #f4f7f9; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ background: -webkit-gradient(linear, left top, left bottom, from(#f4f7f9), color-stop(22%, white)); background: linear-gradient(to bottom, #f4f7f9 0%, white 22%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ }
.sweets .recipe { margin-top: 0; padding-top: 20px; }
.sweets .recipe .sort { margin: 60px 0 30px; }
.sweets .recipe .sort h2 { font-weight: bold; font-size: 30px; }
.sweets .recipe .sort .form-control { background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none; outline: none; border-bottom: 4px solid #a5c6e4; border-radius: 0; padding-left: 0; font-style: italic; position: relative; background: url(../images/arrow.png); background-repeat: no-repeat; background-position: right center; }
.sweets .recipe .sort .form-control:focus { outline: none; }
.sweets .recipe .sort .form-control:placeholder { color: #231f20; }
.sweets .recipe .recipe_left { background: #f3f3f3; }
.sweets .recipe .recipe_left .perp { padding-top: 25px; }
.sweets .recipe .recipe_left .perp h4 { border-bottom: 1px solid #000; font-size: 18px; margin-bottom: 15px; padding: 15px 0px 15px 15px; margin: 0 17px; }
.sweets .recipe .recipe_left .perp h4 span { display: block; color: #707070; }

.pagi { margin: 50px 0; border-top: 4px solid #a5c6e4; border-bottom: 4px solid #a5c6e4; padding: 15px 0; }
.pagi ul { margin-bottom: 0; }
.pagi ul li { display: inline-block; }
.pagi ul li span { color: #000; font-weight: bold; font-style: italic; margin-right: 30px; }
.pagi ul li a { text-decoration: none; color: #707070; display: block; padding: 5px 11px; font-weight: bold; font-size: 17px; }
.pagi ul li a.active { color: #f26c4f; }
.pagi ul li a:hover { color: #f26c4f; }
.pagi ul li a img { vertical-align: baseline; }

.terms p { margin-bottom: 35px; }
.terms p strong { font-family: AvenirNext-Bold; }

.detail { background: #f3f6f8; padding-bottom: 40px; }
.detail .del { margin-top: 80px; }
.detail .similar h4 { font-size: 17px; font-weight: bold; text-transform: uppercase; margin-bottom: 25px; }
.detail .similar a { color: #000; text-decoration: none; }
.detail .similar a:hover { color: #f7acb8; }
.detail .similar p { margin-bottom: 0; padding-top: 10px; }
.detail .similar .row { border-bottom: 1px solid #d7d8da; padding-bottom: 5px; padding-bottom: 10px; margin-bottom: 10px; }
.detail .similar .row .col-8 { padding-right: 5px; }
.detail .similar .row .col-4 { padding-left: 0; }
.detail .single_product_detail h3 { font-size: 26px; font-weight: bold; }
.detail .single_product_detail h5 { font-size: 16px; font-style: italic; margin-top: 16px; }
.detail .single_product_detail h1 { color: #f26c4f; font-weight: bold; margin: 20px 0; }
.detail .single_product_detail h4 { font-size: 20px; font-weight: bold; margin-bottom: 15px; }
.detail .single_product_detail ul li { display: inline-block; }
.detail .single_product_detail ul.rating li { color: #ffdb62; font-size: 25px; margin-right: 7px; }
.detail .single_product_detail ul.rating li:last-child { color: #dadcdf; }
.detail .single_product_detail h2 { font-weight: bold; font-size: 21px; margin-top: 24px; }
.detail .single_product_detail ul.quantity { margin-bottom: 30px; }
.detail .single_product_detail ul.quantity li { margin-right: 7px; }
.detail .single_product_detail ul.quantity li a { display: block; width: 45px; height: 45px; line-height: 45px; text-align: center; background-color: transparent; border-radius: 50%; font-size: 18px; border: 1px solid #000; color: #000; font-weight: bold; text-decoration: none; }
.detail .single_product_detail ul.quantity li a.active, .detail .single_product_detail ul.quantity li a:hover { background-color: #000; color: #fff; }
.detail .single_product_detail .btn { background: #f26c4f; color: #fff; border-radius: 0; padding: 12px 50px; text-transform: uppercase; margin-right: 15px; }
.detail .single_product_detail .btn:hover { background: #a5c6e4; }
.detail .single_product_detail a { color: #000; }

.swiper-container { width: 100%; height: 300px; margin-left: auto; margin-right: auto; }

.swiper-slide { background-size: cover; background-position: center; }

.gallery-top { height: 80%; width: 100%; }

.gallery-thumbs { height: 20%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 0; }

.gallery-thumbs .swiper-slide { width: 25%; height: 100%; opacity: 0.4; }
.gallery-thumbs .swiper-slide img { height: 110px; -o-object-fit: cover; object-fit: cover; background: #fff; padding: 5px; }

.gallery-thumbs .swiper-slide-thumb-active { opacity: 1; }

.swiper-slide img { width: 100%; display: block; margin: 0 auto; background: #fff; padding: 10px; }

.description { background: #f3f6f8; }
.description .nav-tabs { border-bottom: 0; display: block; text-align: center; }
.description .nav-tabs .nav-item { display: inline-block; }
.description .nav-tabs .nav-item .nav-link { background-color: #fff; color: #000; border: 1px solid #000; border-radius: 0; font-size: 13px; width: 200px; padding: 12px; text-transform: uppercase; }
.description .nav-tabs .nav-item .nav-link.active { background-color: #d4e3f1; border: 1px solid #d4e3f1; }

.tab_detail { border-top: 5px solid #a5c6e4; border-bottom: 5px solid #a5c6e4; padding: 45px 0; }
.tab_detail p { margin-bottom: 0; }

.cart { /*background: #fff;*/ }
.cart .banner_share { margin-bottom: 50px; }
.cart h1 { font-size: 32px; font-weight: bold; }
.cart h1 span { display: block; font-size: 14px; color: #f7acb8; font-style: italic; font-weight: normal; margin-top: 15px; }
.cart .breadcrumb { background: none; border-bottom: 5px solid #a5c6e4; padding-bottom: 15px; margin-bottom: 20px; padding-left: 0; padding-top: 0; }
.cart .breadcrumb li { font-size: 14px; color: #f7acb8; font-style: italic; padding-right: 5px; }
.cart .breadcrumb li a { color: #000; text-decoration: none; }
.cart .cart_detail table tr th { border: 0; text-transform: uppercase; }
.cart .cart_detail table tr td { border-bottom: 1px solid #a5c6e4; padding: 25px 15px !important; vertical-align: middle !important; border-top: 0; font-weight: bold; }
.cart .cart_detail table tr td img { border-bottom: 5px solid #ffdb62; width: 150px; }
.cart .cart_detail table tr td .quant { display: inline-block; margin: 0; float: none; }
.cart .cart_detail table tr td .quant .minus, .cart .cart_detail table tr td .quant .plus { display: block; float: left; cursor: pointer; border: 0px transparent; padding: 0; width: 36px; height: 40px; line-height: 40px; text-align: center; background-color: #a5c6e4; font-size: 16px; font-weight: bold; transition: background-color .2s linear; -webkit-transition: background-color .2s linear; -o-transition: background-color .2s linear; color: #fff; }
.cart .cart_detail table tr td .quant .minus:hover, .cart .cart_detail table tr td .quant .plus:hover { background-color: #7fa9d0; }
.cart .cart_detail table tr td .quant .qty { float: left; width: 50px; height: 40px; line-height: 40px; border: 0; background-color: #a5c6e4; text-align: center; margin-bottom: 0; color: #fff; }
.cart .cart_detail table tr td h5 { color: #f26c4f; font-weight: bold; }
.cart .cart_detail table tr td h5 a { margin-left: 15px; color: #000; }
.cart .cart_detail .coupin { margin-top: 15px; }
.cart .cart_detail .coupin label { font-weight: bold; text-transform: uppercase; }
.cart .cart_detail .coupin .insert { width: 250px; position: relative; }
.cart .cart_detail .coupin .insert .form-control { border: 1px solid #000; border-radius: 0; }
.cart .cart_detail .coupin .insert .form-control:focus { outline: none; -webkit-box-shadow: none; box-shadow: none; }
.cart .cart_detail .coupin .insert a { background-color: #a5c6e4; position: absolute; top: 0; right: 0; display: block; width: 53px; height: 38px; text-align: center; line-height: 38px; font-size: 20px; }
.cart .cart_detail .coupin .insert a i { color: #fff; }
.cart .cart_detail .coupin .insert a:hover { background-color: #f7acb8; }
.cart .cart_detail label { font-weight: bold; text-transform: uppercase; }
.cart .cart_detail .alread { text-align: right; float: right; font-style: italic; }
.cart .cart_detail .alread a { color: #f26d50; text-decoration: none; }
.cart .cart_detail .form-control { border-radius: 0; border: 1px solid #000; margin-top: 10px; margin-bottom: 19px; height: 46px !important; }
.cart .cart_detail .form-control:focus { outline: none; -webkit-box-shadow: none; box-shadow: none; }
.cart .cart_detail .select { position: relative; }
.cart .cart_detail .select select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.cart .cart_detail .select:after { content: "\f0d7"; font-family: FontAwesome; text-align: center; color: #474747; font-size: 17px; display: block; position: absolute; top: 50%; right: 17px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-size: 23px; pointer-events: none; cursor: pointer; }
.cart .cart_detail .select:before { content: ""; position: absolute; top: 10px; background: #474747; width: 1px; height: 25px; right: 43px; }
.cart .cart_detail label i { text-transform: capitalize; }
.cart .cart_detail label input[type=checkbox] { height: 20px; width: 20px; vertical-align: sub; margin-right: 7px; }
.cart .cart_detail .action_section { margin-top: 25px; }
.cart .cart_detail .action_section a { float: left; color: #f26c4f; margin-top: 25px; }
.cart .cart_detail .action_section a:hover { color: #f7acb8; }
.cart .cart_detail .action_section .btn { position: relative; font-size: 18px; background: #f26c4f; float: right; color: #fff; border-radius: 0; text-align: left; width: 190px; padding: 10px; }
.cart .cart_detail .action_section .btn span { display: block; font-size: 14px; }
.cart .cart_detail .action_section .btn i { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 20px; right: 10px; }
.cart .cart_detail .action_section .btn:hover { background: #f7acb8; }
.cart .cart_detail .info { border: 1px solid #000; }
.cart .cart_detail .info td { border-bottom: 1px solid #000; }
.cart .cart_detail .info td.name { color: #707070; }
.cart .cart_detail .info td.action a { color: #f26d50; }
.cart .cart_detail .payment { margin-bottom: 25px; float: left; width: 100%; }
.cart .cart_detail .payment ul { float: left; width: 100%; border: 1px solid #e2e2e2; padding: 15px 10px; border-radius: 10px 10px 0px 0px; margin-bottom: 0; }
.cart .cart_detail .payment ul li { float: right; }
.cart .cart_detail .payment ul li:first-child { float: left; }
.cart .cart_detail .payment .body_content { text-align: center; background: #fafafa; float: left; width: 100%; padding: 35px 20px; border: 1px solid #e2e2e2; border-top: 0; }
.cart .cart_detail .payment .body_content img { display: block; margin: 0 auto; }
.cart .cart_detail .last_sec { border: 1px solid #000; float: left; width: 100%; margin-bottom: 30px; }
.cart .cart_detail .last_sec label { border-bottom: 1px solid #000; padding-bottom: 15px; margin-bottom: 7px; margin-top: 7px; padding-top: 11px; padding-left: 15px; margin: 10px 15px; display: block; }
.cart .cart_detail .last_sec label:last-child { border-bottom: 0; }
.cart .total { background: #dae8f4; padding: 95px 50px; }
.cart .total h5 { font-weight: bold; text-transform: uppercase; margin-bottom: 15px; }
.cart .total ul { padding-right: 45px; }
.cart .total ul li { line-height: 40px; text-transform: uppercase; }
.cart .total ul li span { float: right; }
.cart .total ul li.net { border-top: 1px solid #000; margin-top: 15px; padding-top: 15px; float: left; width: 100%; }
.cart .total ul li.net strong { font-size: 23px; font-weight: bold; float: right; }
.cart .total ul li.net b { float: left; font-size: 23px; font-weight: bold; }
.cart .total .btn { background: #f26c4f; text-transform: uppercase; color: #fff; width: 100%; border-radius: 0; margin-top: 20px; padding: 11px; }
.cart .total .btn:hover { background: #a5c6e4; }
.cart .preview { padding: 15px 28px; }
.cart .preview ul { padding-right: 0; }
.cart .preview ul li.net { border-top: 0; margin-top: 0; border-bottom: 1px solid #000; margin-bottom: 15px; padding-bottom: 15px; }
.cart .preview table tr td { vertical-align: middle !important; font-size: 13px; padding: 15px 5px; border-bottom: 1px solid #000; }
.cart .preview table tr td img { border-bottom: 5px solid #ffdb62; width: 50px; }

.recipe_des { padding: 40px 0; }

.reci { background: #fff; }
.reci .nav-tabs { text-align: left; }
.reci .nav-tabs .nav-item .nav-link { text-align: center; }

.rec_detail h4 { font-size: 20px; font-family: AvenirNext-Bold; }
.rec_detail ul li { font-weight: bold; }
.rec_detail ul li img { margin-right: 10px; vertical-align: top; }

.recipe_author { position: relative; }
.recipe_author img { position: relative; z-index: 1; }
.recipe_author:after { position: absolute; right: -15px; top: 15px; width: 100%; height: 100%; background: #cbe1a7; content: ""; z-index: 0; }

.contact h4 { font-size: 22px; }
.contact h4 strong { font-family: AvenirNext-Bold; }
.contact form { margin: 50px 0 50px; }
.contact form .form-control { border-radius: 0; margin-bottom: 25px; border-bottom: 4px solid #a5c6e4; }
.contact form .form-control:placeholder { color: #000; }
.contact form .btn { background: #f7acb8; border-radius: 0; color: #fff; padding: 6px 35px; }
.contact form .btn:hover { background: #a5c6e4; }
.contact form textarea { max-width: 100%; max-height: 150px; height: 150px; }

.contact_img { margin-top: 25px; }
.sweets .recipe .sort p {
    font-size: 14px;
}
.sweets .recipe .sort p strong {
    font-family: AvenirNext-Bold;
    font-size: 15px;
}
.sweet .thumbnail_box p {
    width: 160px;
}
/**---------------------------*/
.footer { padding: 70px 0 20px; background-color: #f3f6f8; }
.footer p { color: #9e9a9a; font-size: 13px; }
.footer p a { font-weight: bold; color: #000; }
.footer p.copy { position: absolute; left: 0; bottom: 0; }
.footer h4 { font-weight: bold; margin-bottom: 35px; color: #111111; font-size: 19px; }
.footer ul { margin-bottom: 0; padding-left: 0; }
.footer ul li { list-style: none; }
.footer ul li a { text-decoration: none; color: #9e9a9a; font-size: 13px; text-transform: uppercase; }
.footer ul li a:hover { color: #a5c6e4; }
.footer ul.social { margin-top: 25px; }
.footer ul.social li { display: inline-block; }
.footer ul.social li a { background: #000; width: 28px; height: 28px; line-height: 28px; text-align: center; border-radius: 50%; display: block; }
.footer ul.social li a i { color: #fff; }
.footer ul.social li a:hover { background: #f7acb8; }
.footer h5 { font-size: 13px; color: #9e9a9a; }

@media screen and (max-width: 1199px) { .container { max-width: 100%; padding: 0 30px; } }
@media screen and (max-width: 1024px) { .header #flexmenu ul li a { padding: 10px; }
  .header .action_area .shop .btn { font-size: 9px; }
  .main_banner .cont { width: 90%; }
  .recipe .big_img img { height: 480px; } }
@media screen and (max-width: 768px) { .header #main-menu { text-align: left; }
  .header #flexmenu ul li a:after { display: none; }
  #main-menu { background-color: #a5c6e4; width: 100%; position: absolute; top: 0; }
  #flexmenu li:after { display: none; }
  #flexmenu li a { border-bottom: 1px solid #006a34; }
  .button { background: #f7acb8; width: 60px; height: 48px; position: absolute; right: 0; top: 2px; cursor: pointer; z-index: 10000; }
  .button:after { position: absolute; top: 22px; right: 20px; display: block; height: 4px; width: 20px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; padding-bottom: 4px; content: ''; }
  .button:before { -webkit-transition: all .3s ease; transition: all .3s ease; position: absolute; top: 16px; right: 20px; display: block; height: 2px; width: 20px; background: #fff; content: ''; }
  .button.menu-opened { background: #f7acb8; right: 0 !important; left: auto !IMPORTANT; -webkit-transition: all 1s ease; transition: all 1s ease; }
  .button.menu-opened:after { -webkit-transition: all .3s ease; transition: all .3s ease; top: 23px; border: 0; height: 2px; width: 19px; background: #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); padding-bottom: 0; }
  .button.menu-opened:before { top: 23px; background: #fff; width: 19px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  #flexmenu ul { display: none; }
  #flexmenu ul li { width: 100%; }
  #flexmenu ul li a { width: 100%; }
  #flexmenu ul ul { position: relative; left: 0; width: 100%; margin: 0; text-align: left; }
  #flexmenu ul ul li { height: auto; }
  #flexmenu ul ul li a { width: 100%; padding-left: 25px; }
  #flexmenu ul ul ul { position: relative; left: 0; width: 100%; margin: 0; text-align: left; }
  #flexmenu ul ul ul li a { padding-left: 35px; }
  #flexmenu ul ul ul li.active a { border-left: none; }
  #flexmenu ul ul > li.has-sub > a:after { display: none; }
  #flexmenu ul ul > li.has-sub > a:before { display: none; }
  #flexmenu ul ul .submenu-button { height: 34px; width: 34px; }
  #flexmenu ul ul .submenu-button:after { top: 15px; right: 13px; }
  #flexmenu ul ul .submenu-button:before { top: 12px; right: 16px; }
  #flexmenu li:hover > ul > li { height: auto; }
  #flexmenu > ul > li.has-sub > ul > li.focus > a { background: #262626; -webkit-transition: all .3s ease; transition: all .3s ease; }
  #flexmenu > ul > li.has-sub > a:after { display: none; }
  #flexmenu > ul > li.has-sub > a:before { display: none; }
  #flexmenu > ul ul > li.has-sub > ul > li.focus > a { background: #262626; -webkit-transition: all .3s ease; transition: all .3s ease; }
  #flexmenu .submenu-button { position: absolute; z-index: 99; right: 0; top: 0; display: block; border-left: 1px solid #444; height: 46px; width: 46px; cursor: pointer; }
  #flexmenu .submenu-button:after { position: absolute; top: 22px; right: 19px; width: 8px; height: 2px; display: block; background: #ddd; content: ''; }
  #flexmenu .submenu-button:before { position: absolute; top: 19px; right: 22px; display: block; width: 2px; height: 8px; background: #ddd; content: ''; }
  #flexmenu .submenu-button.submenu-opened:after { background: #fff; }
  #flexmenu .submenu-button.submenu-opened:before { display: none; }
  .note { font-size: 3vw; }
  /*--------------*/
  .fixHeader .header { position: relative; }
  .container { padding: 0 15px; }
  .header { padding: 5px 0 1px; }
  .header [class*="col-"] { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; }
  .header .col-md-8 { position: absolute; padding: 0; }
  .header .col-md-8 #flexmenu { padding-top: 0; }
  .header .col-md-8 #flexmenu .button { left: 0; right: auto; }
  .header .col-md-8 #flexmenu ul li a { padding: 15px 10px; }
  .header .logo { padding-left: 55px; }
  .header #main-menu { left: -1000px; -webkit-transition: all 1s ease; transition: all 1s ease; z-index: 99; }
  .header #main-menu.open { left: 0; }
  .header .action_area { padding-top: 0; text-align: right; }
  .header a.logo img { width: 110px; }
  .header .col-md-2 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; }
  .main_banner .caption h1 { line-height: 30px; font-size: 25px; }
  .sweets .recipe .sort .form-control { font-size: 12px; } }
@media screen and (max-width: 767px) { .bottom_colorful { padding: 28px 0; height: 380px; }
  .bottom_colorful .col-md-3.col-6:nth-child(2):after { display: none; }
  .footer p.copy { margin-top: 15px; }
  .footer h4 { margin-bottom: 10px; }
  .footer ul.social { margin-top: 10px; }
  .recipe .big_img img { height: 480px; margin: 0 auto; display: block; }
  .footer [class*="col-"] { margin-bottom: 25px; }
  .sweets .recipe .sort h2 { font-size: 27px; margin-bottom: 20px; }
  .sweets .recipe .sort { margin: 0px 0 30px; } }
@media screen and (max-width: 420px) { .header a.logo img { width: 90px; }
  .main_banner .caption h1 { font-size: 15px; }
  .main_banner .caption .btn { font-size: 10px; padding: 3px 23px; }
  .product .text_box h1 { font-size: 25px; }
  .product .product_box h3, .recipe .thumbnail_box a h3 { font-size: 15px; }
  .product .product_box p { font-size: 12px; }
  .recipe .big_img img { height: auto; }
  .newsletter { margin-bottom: 15px; }
  .footer { padding-bottom: 0; } }

/*# sourceMappingURL=style.css.map */